.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--bg-color-shift);
  gap: 30px;
  color: var(--color-shift);
  border-radius: 14px;
  transition: opacity 0.3s ease;
}

.wrapper__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper__button {
  display: flex;
  align-items: start;
  gap: 10px;
}

.wrapper__info {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 16px;
}

.index {
  font-size: 26px;
  opacity: 0.4;
}
