.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid var(--color-border);
  border-radius: 14px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.shift_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shiftInfo1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.button__container {
  display: flex;
  flex-direction: column;
}