.container {
  display: flex;
  align-items: center;
}

.text {
  margin-left: 10px;
  margin-right: 20px;
}

.switch {
  position: relative;
  display: flex;
  width: 40px;
  height: 24px;
}

.switch__chekbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  overflow: hidden;
}

.switch__slider {
  position: absolute;
  cursor: pointer;
  border-radius: 30px;
  inset: 0;
  background-color: var(--bg-color-slider);
}

.switch__slider::before {
  content: '';
  position: absolute;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  left: 1px;
  bottom: 1px;
  background-color: #f0f0f0;
  transition: transform 0.4s;
}

input:checked + .switch__slider::before {
  transform: translateX(15.4px);
}
