.list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  background-color: var(--bg-color-shift);
  max-width: 400px;
  padding: 20px;
  border-radius: 14px;
}

.header {
  margin-bottom: 20px;
}

.header,
.footer,
.item {
  max-width: 400px;
  font-size: 16px;
  padding-bottom: 1px;
}

.header,
.footer,
.item {
  display: grid;
  grid-template-columns: auto 90px;
  justify-items: center;
}

.header > span:nth-child(1),
.item > span:nth-child(1) {
  justify-self: start;
}

.footer {
  align-items: center;
  margin-top: 20px;
}

.footer > span:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper__total {
  display: flex;
  gap: 8px;
}

.success {
  width: 100%;
  justify-content: space-between;
  padding-right: 10px;
}