.list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  background-color: var(--bg-color-shift);
  max-width: 400px;
  padding: 20px;
  border-radius: 14px;
}

.header {
  margin-bottom: 20px;
}

.footer {
  margin-top: 20px;
}

.header,
.footer {
  font-weight: bold;
  opacity: 0.9;
  /* background-color: var(--bg-color-shift); */
}

.header,
.footer,
.item {
  max-width: 400px;
  font-size: 16px;
  /* border-bottom: 1px solid var(--bg-button-return); */
  padding-bottom: 1px;
}

.header,
.footer,
.item {
  display: grid;
  grid-template-columns: auto 60px;
  justify-items: center;
}

.header > span:nth-child(1),
.footer > span:nth-child(1),
.item > span:nth-child(1) {
  justify-self: start;
}

.item {
  opacity: 0.8;
}
