.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px;
  background-color: var(--bg-color-shift);
  opacity: 0.9;
  color: var(--color-shift);
  border-radius: 30px;
}

/* .location {
  margin-bottom: 10px;
} */

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.wrapper__header {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.wrapper__location {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.wrapper__status {
  margin: 10px 0;
  font-size: 14px;
  color: #1e9146;
}

.no__residues {
  font-size: 16px;
  opacity: 0.7;
}

.chart {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  grid-template-rows: auto 1px auto;
  /* padding: 0 30px; */
  align-items: end;
}

.column {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* На всю ширину ячейки сетки */
}

.column__height {
  border-radius: 4px 4px 0 0;
  background-color: var(--bg-color-column);
  position: relative;
  width: 30%;
}

.border {
  width: 100%;
  height: 1px;
  background-color: var(--bg-color-column);
  opacity: 0.5;
}

.title {
  font-size: 14px;
  text-align: center;
  margin-top: 8px;
}

.count {
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper__common {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.common {
  font-size: 16px;
  /* opacity: 0.4; */
}
