.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  max-width: 390px;
  cursor: pointer;
  border-radius: 10px;
  color: var(--color-button);
  background-color: var(--bg-color-button);
}

.container:focus {
  outline: none;
}

.container:active {
  transition: transform 0.2s ease;
  transform: scale(0.9);
}
