.container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 30px;
  margin: 0 20px;
  flex-grow: 1;
}

/* .container > :nth-child(1) {
  align-self: end;
} */

/* .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
} */

.shift_info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.master {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
