.container__spiner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.spinner {
  position: relative;
  justify-self: center;
  width: 40px;
  height: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 30px;
  margin: 0 30px;
  flex-grow: 1;
}

.shift_info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.master {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 14px;
  margin-bottom: 2px;
  opacity: 0.6;
}
