.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  background-color: var(--bg-color-shift);
  opacity: 0.9;
  color: var(--color-shift);
  border-radius: 30px;
  font-size: 16px;
}

.location {
  /* margin-bottom: 10px; */
  font-size: 18px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.wrapper__list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.wrapper__footer {
  display: flex;
  margin-left: auto;
  gap: 10px;
  /* margin-top: 10px; */
  margin-right: 12px;
}

.no__sick {
  font-size: 16px;
  opacity: 0.7;
}

.border__bottom {
  margin-bottom: 6px;
}

.border__top {
  margin-top: 6px;
}

.text {
  margin-left: 10px;
}

.count {
  margin-right: 12px;
}