.container__spiner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.spinner {
  position: relative;
  justify-self: center;
  width: 40px;
  height: 40px;
}

.container {
  margin: 0 30px;
  flex-grow: 1;
}

.container > :nth-child(1) {
  margin-right: auto;
}

.list {
  gap: 40px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  max-width: 400px;
  background-color: var(--bg-color-shift);
  color: var(--color-shift);
  border-radius: 30px;
}

.wrapper__header,
.wrapper__delete {
  display: flex;
  justify-content: space-between;
}

.container,
.list,
.wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper {
  gap: 6px;
}

.container {
  gap: 30px;
}

.wrapper__edit {
  display: flex;
  gap: 10px;
}

.text {
  font-size: 16px;
  margin-left: 1px;
}

.title {
  opacity: 0.4;
  font-size: 14px;
}

.index {
  font-size: 26px;
  opacity: 0.4;
}
