.container__spiner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.spinner {
  position: relative;
  justify-self: center;
  width: 40px;
  height: 40px;
}

.container {
  margin: 0 20px;
  flex-grow: 1;
}

.container > :nth-child(1) {
  margin-right: auto;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 400px;
  background-color: var(--bg-color-shift);
  color: var(--color-shift);
  border-radius: 14px;
}

.container,
.list,
.wrapper,
.wrapper__header,
.wrapper__info,
.wrapper__button,
.wrapper__user,
.wrapper__fio,
.shift__info,
.button__container {
  display: flex;
  flex-direction: column;
}

.wrapper {
  gap: 6px;
}

.container,
.wrapper__header {
  gap: 30px;
}

.list,
.wrapper__info {
  gap: 20px;
}

.wrapper__success {
  display: flex;
  gap: 16px;
}

.wrapper__button {
  justify-content: space-between;
}

.wrapper__user,
.shift__info {
  gap: 2px;
}

.wrapper__fio {
  gap: 3px;
}

.text {
  font-size: 16px;
  margin-left: 1px;
  line-height: 1.2;
  width: 200px;
}

.title {
  opacity: 0.4;
  font-size: 14px;
}

.index {
  font-size: 26px;
  opacity: 0.4;
}
