.menu {
  position: fixed;
  height: 100vh;
  background-color: var(--bg-color-default);
  padding: 20px;
  top: 0;
  right: 0;
  display: grid;
  min-width: 320px;
  border-left: 1px solid #bebebe;
  border-top-left-radius: 20px; /* верхний левый угол */
  border-bottom-left-radius: 20px; /* нижний левый угол */
  
}

.navigation__list {
  display: grid;
  gap: 14px;
}
