.menu {
  display: grid;
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
  height: 100vh;
  min-width: 320px;
  background-color: var(--bg-color-default);
  border-left: 1px solid #bebebe;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.menu > :first-child {
  justify-self: end;
}


.navigation__list {
  display: grid;
  gap: 14px;
}
