.container {
  display: grid;
  grid-template-rows: 0.7fr 5fr 4fr;
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: auto;
  padding: 30px;
  height: 100vh;
  min-width: 320px;
  background-color: var(--bg-color-default);
  border-left: 0.5px solid #bebebe;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

  transform: translateX(100%);
  transition: transform 0.2s ease;
  z-index: 2;
}

.menu__open {
  transform: translateX(0);
  transition: transform 0.2s ease-in-out;
}

/* крестик справа */
.container > :first-child {
  justify-self: end;
}

.navigation__list {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-self: start;
  gap: 10px;
}

.link:hover {
  cursor: pointer;
}

.link:active {
  opacity: 0.6;
  transition: opacity 0.4s ease;
}
