.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 2px 14px;
  /* max-width: 300px; */
  cursor: pointer;
  border-radius: 10px;
  color: var(--color-button);
  background-color: var(--bg-color-button);
  transition: opacity 0.3s ease;
}

.container:focus {
  outline: none;
}

.container:hover {
  opacity: 0.85;
}

.container:active {
  transition: transform 0.2s ease;
  transform: scale(0.9);
}
