.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0 30px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.wrapper__fio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
