.list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  background-color: var(--bg-color-shift);
  padding: 30px;
  border-radius: 30px;
}

.header__title {
  letter-spacing: 0.4px;
  opacity: 0.44;
  margin-bottom: 26px;
}

.header,
.footer,
.item {
  font-size: 16px;
  padding-bottom: 1px;
}

.header,
.footer,
.item {
  display: grid;
  grid-template-columns: auto 40px;
  justify-items: center;
}

.header > span:nth-child(1),
.item > span:nth-child(1),
.footer > span:nth-child(1) {
  justify-self: start;
}

.header > span:nth-child(2),
.item > span:nth-child(2),
.footer > span:nth-child(2) {
  justify-self: end;
}

.footer {
  align-items: center;
  margin-bottom: 20px;
}

.footer > span:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper__total {
  display: flex;
  justify-content: end;
  gap: 8px;
}

.success {
  gap: 10px;
}