.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: var(--bg-color-shift);
  padding: 30px;
  border-radius: 30px;
  font-size: 16px;
}

.wrapper__info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.header__title {
  letter-spacing: 0.4px;
  opacity: 0.6;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.wrapper__button {
  display: flex;
  justify-content: end;
  width: 100%;
  margin-top: 10px;
}
