@import './normalize.css';
@import './Montserrat.css';
@import './variables.css';
@import './global.css';
@import './themes.css';

body {
  font-family: 'Montserrat', arial, helvetica, sans-serif;
  background-color: var(--bg-color-default);
  color: var(--color-default);
  min-width: 320px;
  max-width: 1900px;
  font-size: 18px;
  margin: 0 auto;
  /* transition: background-color 0.5s ease, color 0.5s ease; */
}
