@import './normalize.css';
@import './Montserrat.css';
@import './variables.css';
@import './global.css';

body {
  font-family: var(--main-font);
  background-color: var(--main-background-color);
  color: var(--main-font-color);
  font-size: var(--main-font-size);
  min-width: var(--min-page-width);
  max-width: var(--max-page-width);
  margin: 0 auto;
}
