/* Значения переменных в исходном состоянии */

:root {
  /* Цвета */
  --white: #eaeaea;
  --green: #2e8b57;
  --grey: #adadad;
  --grey-tint-1: #dbdbdb;
  --grey-tint-2: #7b7b7b;
  --grey-tint-3: rgba(255, 255, 255, 0.4);
  --grey-tint-4: rgba(255, 255, 255, 0.3);
  --black: #111;
  --black-tint-1: #636363;
  --black-tint-2: rgba(0, 0, 0, 0.4);
  --black-tint-3: rgba(0, 0, 0, 0.6);
  --black-tint-4: #222;
  --black-tint-5: rgba(137, 137, 137, 0.2);

  /* Цвета в приложении */
  --color-default: var(--black, #111);
  --color-icon: var(--white, #eaeaea);
  --color-close: var(--grey, #adadad);
  --color-cover: var(--grey, #adadad);
  --color-shadow: var(--grey-tint-3, rgba(207, 207, 207, 0.4));
  --color-button: var(--white, #eaeaea);
  
  --bg-color-default: var(--white, #eaeaea);
  --bg-color-button: var(--black, #111);
  
  --bg-color-theme: var(--black-tint-1, #252525);
  --bg-color-slider: var(--green, #2e8b57);
}
