/* В этом файле будут храниться все значения переменных в исходном состоянии */

:root {
  --white-color: #eaeaea;
  --white-light-color: #d2d2d2;

  --green-color: #2e8b57;

  --grey-color: #adadad;
  --grey-light-color: #dbdbdb;

  --black-color: #111;
  --black-light-color: #252525;
  --black-medium-color: #333;
 
  --main-font: 'Montserrat', arial, helvetica, sans-serif;
  --logo-font: 'Montserrat'; /* дописать */

  --main-font-color: var(--white-color, #eaeaea);
  --main-background-color: var(--black-color, #111);

  --icon-color: var(--white-color, #eaeaea);
  --month-circle-background: var(--black-light-color, #252525);
  --slider-background-color: var(--green-color, #2e8b57);
  --user-background-color: var(--black-medium-color, #333);

  --min-page-width: 320px;
  --max-page-width: 900px;
  --main-font-size: 16px;
}
