.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  background-color: var(--bg-color-shift);
  color: var(--color-shift);
  border-radius: 30px;
  opacity: 0.9;
}

.location {
  margin-bottom: 30px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.wrapper__header {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.chart {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  grid-template-rows: auto 1px auto;
  padding: 20px;
  align-items: end;
}

.column {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* На всю ширину ячейки сетки */
}

.column__height {
  border-radius: 4px 4px 0 0;
  background-color: var(--bg-color-column);
  position: relative;
  width: 30%;
}

.border {
  width: 100%;
  height: 1px;
  background-color: var(--bg-color-column);
  opacity: 0.5;
}

.title {
  font-size: 14px;
  text-align: center;
  margin-top: 8px;
}

.total {
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper__common {
  display: flex;
  gap: 20px;
}

.common {
  font-size: 16px;
  /* opacity: 0.4; */
}
