.container {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
  flex-grow: 1;
  gap: 30px;
}

.wrapper__info {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.wrapper__header {
  display: flex;
  justify-content: space-between;
}

.header__title {
  letter-spacing: 0.4px;
  opacity: 0.44;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.text {
  font-size: 16px;
  margin-left: 1px;
}

.title {
  opacity: 0.4;
  font-size: 14px;
}

.text__info {
  font-size: 16px;
}