.container {
  display: flex;
  padding: 20px clamp(0.625rem, -5.625rem + 31.25vw, 31.875rem);
  background-image: linear-gradient(to left, #fffafa, #1c1c1c);
}

.title {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-banner);
  font-family: 'Dancing Script', arial, helvetica, sans-serif;
  gap: clamp(0.3125rem, 0.1401rem + 0.8621vw, 0.625rem);
  font-size: clamp(1.25rem, -0.1293rem + 6.8966vw, 3.75rem);
}

.text__top,
.text__bottom {
  display: block;
  color: var(--color-banner);
  /* background-image: linear-gradient(
    to right,
    var(--color-banner-1),
    var(--color-banner-2)
  );
  background-size: 200% 100%;
  color: transparent;
  background-clip: text; */
}

.text__top {
  padding-left: 16%;
}

.text__bottom {
  padding-left: 46%;
}
