.container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90vh;
  width: 90%;
  background-color: var(--bg-color-default);
  color: var(--color-default);
  padding: 30px;
  border-radius: 30px;
  border: 0.5px solid #bebebe;

  /* Начальная прозрачность */
  opacity: 0;

  /* Блокируем события */
  pointer-events: none;

  /* Добавляем анимацию */
  transition: opacity 0.2s ease 0.1s;
}

.container > :first-child {
  margin-left: auto;
}

.modal__open {
  /* Полная видимость */
  opacity: 1;

  /* Разрешаем события */
  pointer-events: auto;
}
