.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 clamp(1.25rem, 0.5603rem + 3.4483vw, 2.5rem);
}

.logo {
  display: flex;
  align-items: center;
}

.title {
  display: flex;
  justify-content: start;
  margin-left: 10px;
  margin-right: auto;
  font-size: 18px;
  font-weight: 400;
}
