.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 20px;
  font-size: 16px;
}

.container__agree {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title__politic {
  margin-top: 40px;
}

.list__politic {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.items li::before {
  content: '•'; /* Добавляем символ точки */
  display: inline-block;
  width: 14px;
  margin-left: 4px;
  color: var(--color-default); /* Цвет маркера */
}

.title {
  margin-bottom: 10px;
}

.button__agree {
  margin-top: 40px;
  border-radius: 10px;
  max-width: 200px;
  padding: 12px 0;
  color: var(--color-button);
  font-weight: 400;
  background-color: var(--bg-color-button);
  cursor: pointer;
}
