.container {
  position: relative;
  display: grid;
  justify-content: center;
  overflow: auto;
}

.title {
  margin-top: 20px;
  margin-bottom: 40px;
  font-weight: 400;
  text-align: center;
}

.form__register {
  display: grid;
  /* padding: 0 10px; */
}

.input__name {
  font-size: 14px;
  position: relative;
  padding: 0 10px 10px;
}

.input__name::after {
  content: '*';
  position: absolute;
  top: 0;
  left: 2px;
  opacity: 0.5;
}

.input__email,
.input__login,
.input__password {
  width: 100%;
  padding: 10px 16px;
  border: 1px solid var(--color-border);
  border-radius: 10px;
}

.input__email:focus,
.input__login:focus,
.input__password:focus {
  outline: none;
}

.input__email::placeholder,
.input__login::placeholder,
.input__password::placeholder {
  font-size: 16px;
}

.errors {
  height: 40px;
  line-height: 0.8;
}

.error {
  color: #bc1818;
  font-size: 12px;
  padding-left: 5px;
}

.spinner {
  position: relative;
  justify-self: center;
  width: 30px;
  height: 30px;
}

.button__register {
  margin: 24px 0 40px;
  border-radius: 10px;
  padding: 12px 0;
  color: var(--color-button);
  font-weight: 400;
  background-color: var(--bg-color-button);
  cursor: pointer;
}

.button__login {
  margin-bottom: 40px;
  opacity: 0.9;
  font-size: 16px;
  color: var(--color-link);
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 0.7px;
  text-underline-offset: 4px;
  cursor: pointer;
}

.button__login:active,
.button__register:active {
  transition: transform 0.2s ease;
  transform: scale(0.97);
}
